Django==5.2.1
Pillow==11.2.1
django-crispy-forms==2.4
crispy-bootstrap5==2026.3
asgiref==3.11.1
sqlparse==0.5.3
django-allauth==65.3.0
django-widget-tweaks==1.5.0
requests==2.32.3
PyJWT==2.10.1
cryptography==44.0.2
urllib3==2.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10